# ignore Mac OS files
.DS_Store
nohup.out
Thumbs.db
# ignore the default AVR Studiobuild directory
default/
#ignore the AVR Studio project files
*.aws
*.aps
*.pptx
#ignore node modules
node_modules/*
Gauge/node_modules/*
Graph/node_modules/*
MQTTrealtime/node_modules/*
Flukso/persist/node_modules/*
Flukso/tmpo/node_modules/*

